<div class="container">

    <h1 class="text-center m-4">Inventory Management System</h1>



    <div class="create-category-form mt-4">
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addProdModal">
            Add New Category
        </button>

        <!-- Modal -->
        <div class="modal fade" id="addProdModal" tabindex="-1" aria-labelledby="addProdModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="addProdModalLabel">Add New Category</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <!-- Form to create or edit a Category -->
                        <form [formGroup]="categoryForm">

                            <label for="name">Caterory Name:</label>
                            <input class="form-control" type="text" id="name" formControlName="categoryName" />
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                        <button type="button" class="btn btn-primary" data-bs-dismiss="modal"
                            (click)="saveCategory()">Add Category</button>
                    </div>
                </div>
            </div>
        </div>


    </div>

    <div class="display-categories m-4">
        <!-- Display categories -->
        <!-- Category.component.html -->
        <div *ngIf="categories">
            <table class="table">
                <!-- Table headers -->
                <thead class="table-dark">
                    <tr>
                        <th>ID</th>
                        <th>Category Name</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <!-- Table body -->
                <tbody>
                    <tr *ngFor="let category of categories; index as i">
                        <td>{{ i+1 }}</td>
                        <td>{{ category.categoryName }}</td>
                        <td>
                            <a data-bs-toggle="modal" data-bs-target="#updateModal"
                                (click)="editCategory(category)">Edit</a>
                            <a class="m-2 p-2" (click)="deleteCategory(category)">Delete</a>
                        </td>
                    </tr>
                </tbody>
            </table>

            
        </div>


    </div>


</div>


<!-- Modal -->
<div class="modal fade" id="updateModal" tabindex="-1" aria-labelledby="updateModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="updateModalLabel">Update Category</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div *ngIf="editingCategory">
                <form>
                    <div class="form-group">
                        <label for="categoryName">Category Name</label>
                        <input [(ngModel)]="editingCategory.name" name="categoryName" id="CategoryName"
                            class="form-control" required>
                    </div>
                </form>
            </div>
        </div>

        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
            <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="saveEditedCategory()">Update
                Category</button>
        </div>

    </div>
</div>
</div>