<div class="container-xl px-4 mt-4">

    <hr class="mt-0 mb-4">
    <div class="row">
        <div class="col-xl-4">
            <!-- Profile picture card-->
            <div class="card mb-4 mb-xl-0">
                <div class="card-header">Profile Picture</div>
                <div class="card-body text-center">
                    <!-- Profile picture image-->
                    <img class="img-account-profile rounded-circle mb-2"
                        src="http://bootdey.com/img/Content/avatar/avatar1.png" alt="">
                        <p class="fw-bold">Currently Working At</p>
                        <p class="fw-bold">Court/Office: ASJ-I</p>
                        <p class="fw-bold">Starting Date: 02-01-2023 </p>
                        <p class="fw-bold">Duration: 7 month 5 days </p>
                        <button class="btn btn-primary btn-xs">Transfer</button>
                </div>
            </div>
        </div>

        <div class="col-xl-8">
            <!-- Account details card-->
            <div class="card mb-4">
                <div class="card-header">Account Details</div>
                <div class="card-body">
                    <form>
                        <!-- Form Group (username)-->
                        <div class="mb-3">
                            <label class="small mb-1" for="inputUsername">Username (how your name will appear to other
                                users on the site)</label>
                            <input class="form-control" id="inputUsername" type="text" placeholder="Enter your username"
                                value="username">
                        </div>
                        <!-- Form Row-->
                        <div class="row gx-3 mb-3">
                            <!-- Form Group (first name)-->
                            <div class="col-md-6">
                                <label class="small mb-1" for="inputFirstName">First name</label>
                                <input class="form-control" id="inputFirstName" type="text"
                                    placeholder="Enter your first name" value="Valerie">
                            </div>
                            <!-- Form Group (last name)-->
                            <div class="col-md-6">
                                <label class="small mb-1" for="inputLastName">Last name</label>
                                <input class="form-control" id="inputLastName" type="text"
                                    placeholder="Enter your last name" value="Luna">
                            </div>
                        </div>
                        <!-- Form Row        -->
                        <div class="row gx-3 mb-3">
                            <!-- Form Group (organization name)-->
                            <div class="col-md-6">
                                <label class="small mb-1" for="inputOrgName">Organization name</label>
                                <input class="form-control" id="inputOrgName" type="text"
                                    placeholder="Enter your organization name" value="Start Bootstrap">
                            </div>
                            <!-- Form Group (location)-->
                            <div class="col-md-6">
                                <label class="small mb-1" for="inputLocation">Location</label>
                                <input class="form-control" id="inputLocation" type="text"
                                    placeholder="Enter your location" value="San Francisco, CA">
                            </div>
                        </div>
                        <!-- Form Group (email address)-->
                        <div class="mb-3">
                            <label class="small mb-1" for="inputEmailAddress">Email address</label>
                            <input class="form-control" id="inputEmailAddress" type="email"
                                placeholder="Enter your email address" value="name@example.com">
                        </div>
                        <!-- Form Row-->
                        <div class="row gx-3 mb-3">
                            <!-- Form Group (phone number)-->
                            <div class="col-md-6">
                                <label class="small mb-1" for="inputPhone">Phone number</label>
                                <input class="form-control" id="inputPhone" type="tel"
                                    placeholder="Enter your phone number" value="555-123-4567">
                            </div>
                            <!-- Form Group (birthday)-->
                            <div class="col-md-6">
                                <label class="small mb-1" for="inputBirthday">Birthday</label>
                                <input class="form-control" id="inputBirthday" type="text" name="birthday"
                                    placeholder="Enter your birthday" value="06/10/1988">
                            </div>
                        </div>

                        <div class="row p-2">
                            <div class="col-6">
                                <label class="small mb-1" for="inputFirstName">Father name</label>
                                <input type="text" [(ngModel)]="firstName" placeholder="Father Name"
                                    class="form-control bg-input ">

                            </div>
                            <div class="col-6">
                                <label class="small mb-1" for="inputFirstName">CNIC</label>
                                <input type="text" [(ngModel)]="firstName" placeholder="CNIC"
                                    class="form-control bg-input ">

                            </div>
                        </div>

                        <div class="row p-2">
                            <div class="col-6">
                                <label class="small mb-1" for="inputFirstName">Phone number</label>
                                <input type="text" [(ngModel)]="firstName" placeholder="Phone Number"
                                    class="form-control bg-input ">

                            </div>
                            <div class="col-6">
                                <label class="small mb-1" for="inputFirstName">Date of Birth</label>
                                <input type="datetime-local" [(ngModel)]="firstName" placeholder="Date of Birth"
                                    class="form-control bg-input ">

                            </div>
                        </div>

                        <div class="row p-2">
                            <div class="col-6">
                                <label class="small mb-1" for="inputFirstName">Pasted At</label>
                                <input type="text" [(ngModel)]="firstName" placeholder="Post At"
                                    class="form-control bg-input ">

                            </div>
                            <div class="col-6">
                                <label class="small mb-1" for="inputFirstName">Job title</label>
                                <input type="text" [(ngModel)]="firstName" placeholder="Job Title"
                                    class="form-control bg-input ">

                            </div>
                        </div>

                        <div class="row p-2">
                            <div class="col-6">
                                <label class="small mb-1" for="inputFirstName">Working As</label>
                                <input type="text" [(ngModel)]="firstName" placeholder="Work As"
                                    class="form-control bg-input ">

                            </div>
                            <div class="col-6">
                                <label class="small mb-1" for="inputFirstName">BPS</label>
                                <input type="text" [(ngModel)]="firstName" placeholder="BPS"
                                    class="form-control bg-input ">

                            </div>
                        </div>
                        <!-- Save changes button-->
                        <button class="btn btn-primary" type="button">Save changes</button>
                    </form>
                </div>
            </div>

            <div class="row">
                <h1>Employment History</h1>


                <div class="row employee-list shadow p-4 mb-4">

                    <table class="table table-striped">
                        <thead class="table-dark">
                            <tr>
                                <th scope="col">ID</th>
                                <th scope="col">First Name</th>
                                <th scope="col">Last Name</th>
                                <th scope="col">Job Title</th>
                                <th scope="col">Working As</th>
                                <th scope="col">BPS</th>
                                <th scope="col">Date From</th>
                                <th scope="col">Date To</th>
                                <th scope="col">Posted At</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">1</th>
                                <td>Mark</td>
                                <td>Otto</td>
                                <td>@mdo</td>
                                <td>@mdo</td>
                                <td>@mdo</td>
                                <td> {{ today | date}} </td>
                                <td> {{ today | date}} </td>
                                <td>@mdo</td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>Jacob</td>
                                <td>Thornton</td>
                                <td>@fat</td>
                                <td>@fat</td>
                                <td>@fat</td>
                                <td> {{ today | date}} </td>
                                <td> {{ today | date}} </td>
                                <td>@fat</td>
                            </tr>

                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
</div>