<div class="container p-3">

    <div class="heading">
        <h1 class="text-center m-4">Case Marking History</h1>
    </div>

    <div class="content">

        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h2 class="modal-title" id="exampleModalLabel">Add Marked Case</h2>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form [formGroup]="markedCaseFrom">
                            <!-- <div class="form-group mb-3">
                                <input type="text" placeholder="Case No" class="form-control" formControlName="caseNo">
                                
                            </div> -->
                            <!-- <div class="form-group mb-3">
                                <input type="text" placeholder="Case Title" class="form-control" formControlName="caseTitle">
                                
                            </div> -->
                            <div class="form-group mb-3">
                                <label>Date of Marking</label>
                                <input readonly type="datetime-local" placeholder="Marking Date" class="form-control" formControlName="markedDate">
                                
                            </div>
                            <div class="form-group mb-3">   
                                <label>Case Category</label>             
                                <select placeholder="Court Name" class="form-control" formControlName="caseCategoryId">
                                    <option disabled value="0">--Select Case Category--</option>
                                    <option *ngFor="let c of caseCategoryList" [ngValue]="c.caseCategoryId">{{ c.categoryName }}</option>
                                </select>
                                
                            </div>
                            <div class="form-group mb-3">   
                                <label>Court Name</label>         
                                <select placeholder="Court Name" class="form-control" formControlName="courtId">
                                    <option [value]="1" [disabled]="true">--Select Court Name--</option>  
                                    <option *ngFor="let c of courtList" [ngValue]="c.courtId">{{ c.courtName }}</option>
                                </select>
                                
                            </div>
            
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="onSubmitMarkedCase()" >Save</button>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="search-section shadow rounded p-4">
        <div class="row">
            <div class="col-4">
                <div class="form-group mb-3">
                    <input [(ngModel)]="dateFrom" type="datetime-local" placeholder="Date From " class="form-control">
        
                </div>

            </div>
            <div class="col-4">
                <div class="form-group mb-3">
                    <input [(ngModel)]="dateTo " type="datetime-local" placeholder="Date To" class="form-control">
        
                </div>
                
            </div>
            <div class="col-4">
                <button (click)="getMarkedCaseHistory()" class="btn btn-primary">Get
                    History</button>
                
            </div>
    

        </div>
    </div>

      
    <div class="marking-history">
        <br><hr><br>

        <div class="row">
            <div class="col-2">
                <!-- Button trigger modal -->
                <!-- <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#exampleModal">
                    Add Marked Case
                </button> -->

            </div>
            <div class="col-10">
                <h1 class="text-center">Displaying Data From <u>{{dateFrom | date : 'short'}}</u>  to <u>{{dateTo  | date : 'short'}}</u> </h1>
        

            </div>
        </div>

        <button class="btn btn-secondary btn-xs" (click)="printTable()">Print</button>

        <table border="1" cellpadding="3" id="history-data" class="shadow p-3" *ngIf="caseMarkingHistoryData.length>0">
            <thead>
              <tr>
                <th>Case Category</th>
                <th *ngFor="let stat of caseMarkingHistoryData[0].stats">{{ stat.courtName }}</th>
                <th>Total</th> <!-- Header for the last column total -->
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let category of caseMarkingHistoryData; let i = index">
                <td>{{ category.caseCategory }}</td>
                <td data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="addNewCase(category.caseCategoryId, stat)"  *ngFor="let stat of category.stats">{{ stat.totalCasesMarked }}</td>
                <td>{{ totalLastRow[i] }}</td> <!-- Last row total -->
              </tr>
            </tbody>
            <tfoot>
              <tr>
                <th>Total</th> <!-- Header for the last row total -->
                <td *ngFor="let total of totalLastColumn">{{ total }}</td>
                <td>{{ sumOfArray(totalLastColumn) }}</td> 
                <!-- Grand Total -->
              </tr>
            </tfoot>
          </table>
          
          

    </div>
</div>